.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;

    padding-top: 50px;
    margin: 0 auto 50px;

    background-color: #FFFFFF;

    border-radius: 6px;
    box-shadow: 4px 4px 8px rgba(0, 0 ,0, 0.1);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
}

.avatar {
    width: 100px;

    padding: 8px;

    margin-bottom: 30px;

    border: 2px solid #ecececcf;
    border-radius: 6px;    

    box-shadow: 1px 1px 2px rgba(0, 0 ,0, 0.1);
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: #0f0f0f;

    margin-bottom: 10px;
}

.tag,
.location {
    font-size: 15px;
    font-weight: 400;
    color: #5f5353dd;
}

.tag {
    margin-bottom: 10px;
}

.stats {
    display: flex;

    width: 100%;

    background-color: #896363ea;    

    border-top: 3px solid #a38282cf;
}

.stats > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: calc(100% / 3);
    padding: 12px 0;
}

.stats > li:nth-child(2) {
    border-left: 4px solid #cfa3a3;
    border-right: 4px solid #cfa3a3;
}

.label {
    font-size: 15px;
    font-weight: 500;
    color: #777474d6;

    margin-bottom: 5px;
}


.quantity {{
    font-size: 20px;
    font-weight: 600;
    color: #0f0f0f00;
}}