.item {
  display: flex;

  align-items: center;

  width: 100%;
  padding-left: 12px;
  padding: 12px 0;

  background-color: #ffffff;

  border-radius: 6px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.item:not(:last-child) {
  margin-bottom: 12px;
}

.true {
    background-color: #089708;
  }
  
  .false {
    background-color: #b50b0b;
  }

.status {
  margin-right: 12px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.avatar {
  padding: 8px;
  margin-right: 12px;

  border: 2px solid #ecececcf;

  border-radius: 6px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

  box-sizing: content-box;

  background-color: #f2f0f0;
}

.name {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}
